ul {
	text-decoration: none;
	list-style: none;
}

li {
	display: inline;
	color: black;
	border-style: solid;
	border-bottom-width: 0em;
	width: auto;
	height: auto;
	padding: 0.75em;
	transition: all 0.175s ease-out;
}

a {
	text-decoration: none;
}

li:hover {
	background-color: red;
	border-bottom-color: green;
	border-bottom-width: 0.1em;
	transition: all 0.175s ease-in;
}

li:hover {
	cursor: pointer;
}

.REST {
	width: 100%;
	background-color: #38a;
}